# Latex ignored files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.toc
*.alg
*.acr
*.ist
*.gls
*.glsdefs
*.acn
*.acr
*.glg
*.glo
*.synctex(busy)

# Mac OS ignored files
*.DS_Store
*.idea

# File for personal notes
notes.md

# Webstorm

.idea