# Latex ignored files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.toc
*.alg
*.acr
*.ist
*.gls
*.glsdefs
*.acn
*.acr
*.glg
*.glo
*.synctex(busy)

# File for personal notes
notes.md

# Webstorm

.idea

# Ignore the directory of wiki
DiGo-certify-app.wiki/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Generated native projects
/code/android/
/code/ios/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
/code/config.json

# typescript
*.tsbuildinfo
