# Latex ignored files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg

# Mac OS ignored files
*.DS_Store
*.idea

# Hardhat project ignored files
node_modules

# Hardhat files
**/cache/
**/artifacts

# TypeChain files
**/typechain
**/typechain-types

# solidity-coverage files
**/coverage
**/coverage.json